<div class="mkd-toolbar">
  <button class="md-button" id="bold-button" title="bold (⌘ b)"><strong>b</strong></button>
  <button class="md-button" id="italic-button" title="italic (⌘ i)"><em>i</em></button>
  <button class="md-button" id="strike-button" title="strikethrough"><em><del>s</del></em></button>
  <button class="md-button" id="h1-button" title="first level heading">h1</button>
  <button class="md-button" id="h2-button" title="second level heading">h2</button>
  <button class="md-button" id="h3-button" title="third level heading">h3</button>
  <button class="md-button" id="image-button" title="markdown image"><%= inline_svg("booqcms/picture.svg", class: 'mkdwn-toolbar-svg') %></button>
  <button class="md-button" id="link-button" title="HTML link (⌘ L)">🔗 </button>
  <button class="md-button" id="blockquote-button" title="blockquote">❝</button>
</div>
